Options -Indexes

ErrorDocument 404 "<h1 style = 'color:red;'>Error 404:Page Not Found!</h1>"

RewriteEngine on
RewriteCond $1 !^(index\.php|images|3rdparty|templates|robots\.txt|Sitemap\.xml|feed\.rss)

# General pages
RewriteRule ^([a-zA-Z0-9-_/]+)$ index.php?p=$1 [QSA,L]
RewriteRule ^([a-zA-Z0-9-_/]+)\.html$ index.php?p=$1 [QSA,L]


# prevent viewing of a specific file
<files ./config.php>
 order allow,deny
 deny from all
</files>