/* 
    Document   : msg_styles
    Created on : Dec 25, 2011, 2:20:19 AM
    Author     : 
    Description: Different msg box styling
    Thanks to: http://css.dzone.com/news/css-message-boxes-different-me
*/


.msg_info, .msg_success, .msg_warning, .msg_error, .msg_validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.msg_info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('images/info.png');
}
.msg_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('images/success.png');
}
.msg_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('images/warning.png');
}
.msg_error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/error.png');
}

